<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <h4> <%= link_to task["title"], task_path(task) %> </h4>
  <p> <%= link_to "Delete", task_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
  </p>
  <p><%= task.completed %></p>
<% end %>

<p><%= link_to "Add a new task", new_task_path %></p>
